
<div>Hello professional <%-user.username %></div>
<div id="professional-info-form-container">
  <h4>Profession</h4>
  <div>
      <ul>
        <% for (var i=0; i<user.profession.length; i++){%>
          <li>
            <%-user.profession[i]%>
          </li>
          <form action="/profiles/professional/deleteProfession/<%-locals.user.id%>" method="POST">
            <input style="display:none" type="text" name="profession" maxlength="100" value=<%-user.profession[i]%>>
            <button class="btn btn-info btn-round">Delete profession</button>
          </form>
          <%}%>
      </ul>
  </div>
  <div class="form-group">
      <form action="/profiles/professional/addProfession/<%-locals.user.id%>  " method="POST" >
        <label for="Profession">Profession</label>
        <input type="text" class="form-control" name="profession" placeholder="Add your profession">
        <button class="btn btn-info btn-round">Add</button>
      </form>
  </div>

  <h4>Experience</h4>
  <div>
    <ul>
      <% for (var i=0; i<user.experience.length; i++){%>
        <li>
          Title: <%-user.experience[i].title%>
        </li>
        <li>
          Company: <%-user.experience[i].company%>
        </li>
        <li>
          from <%-user.experience[i].start%> 
        </li>
        <li>
          End date: <%-user.experience[i].end%> 
        </li>
        <li>
          Current job: <%-user.experience[i].current%>
        </li>
        <li>
          Description: <%-user.experience[i].description%>
        </li>
          <form action="/profiles/professional/deleteExperience/<%-locals.user.id%>" method="POST">
            <input style="display:none" type="text" name="_id" maxlength="100" value=<%-user.experience[i]._id%>>
            <button class="btn btn-info btn-round">Delete experience</button>
          </form>
          <%}%>
    </ul>
  </div>
  <div>
    <form action="/profiles/professional/addExperience/<%-locals.user.id%>  " method="POST">    
      <div class="form-group"> 
       <label for="title">Job title</label>
      <input type="text" class="form-control" name="title" placeholder="Add your job title">
      </div>
      <div class="form-group"> 
        <label for="Company">Company</label>
        <input type="text" class="form-control" name="company" placeholder="Add company name">
      </div>
      <div class="form-group">
        <label for="start">Date start</label>
        <input type="text" class="form-control" name="start" placeholder="mm/yyyy" >
      </div>
      <div class="form-group">
        <label for="end">Date end</label>
        <input type="text" class="form-control" name="end" placeholder="mm/yyyy">
      </div> 
       <div class="form-group">
        <input type="radio" name="current" value="other"> Current position
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" name="description" placeholder="Add description"></textarea>
      </div>
      <button class="btn btn-info btn-round">Add experience</button>
    </form>
  </div>

  <h4>Education</h4>
  <div
      <ul>
        <% for (var i=0; i<user.education.length; i++){%>
          <li>
            <%-user.education[i].degree%>
          </li>
          <li>
            <%-user.education[i].university%>
          </li>
          <li>
            <%-user.education[i].graduation%>
          </li>
          <li>
              <%-user.education[i].description%>
          </li>
          <form action="/profiles/professional/deleteEducation/<%-locals.user.id%>" method="POST">
            <input style="display:none" type="text" name="_id" value=<%-user.education[i]._id%>>
            <button class="btn btn-info btn-round">Delete education</button>
          </form>
          <%}%>
      </ul>
      <form action="/profiles/professional/addEducation/<%-locals.user.id%>  " method="POST">
        <div class="form-group"> 
          <label for="degree">Degree</label>
          <input type="text" class="form-control" name="degree" placeholder="Add degree">
        </div>
        <div class="form-group"> 
          <label for="university">University</label>
          <input type="text" class="form-control" name="university" placeholder="Add university name">
        </div>
        <div class="form-group"> 
          <label for="graduation">Date graduated</label>
          <input id='datetimepicker1' type="date" class="form-control" name="graduation" placeholder="Enter date of graduation">
        </div>
        <div class="form-group"> 
          <label for="description">Description</label>
          <textarea type="text" class="form-control" name="description" placeholder="Add description"></textarea>
        <button class="btn btn-info btn-round">Add education</button>
        </div>
    </form>
  </div>


  <h4>Contact details</h4>
  <div>
      <form action="/profiles/professional/addContact/<%-locals.user.id%>  " method="POST">
      <div class ="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" name="email" placeholder="Add your e-mail address" value="<%-user.contact.email%>">
      </div>
      <div class ="form-group">
        <label for="linkedIn">LinkedIn</label>
        <input type="text" class="form-control" name="linkedIn" placeholder="Add your LinkedIn profile" value="<%-user.contact.linkedIn%>" >
      </div>
      <div class ="form-group">
        <label for="landline">Landline</label>
        <input type="text" class="form-control" name="landline" placeholder="Add your phone number" value="<%-user.contact.landline%>">
      </div>
      <div class ="form-group">
        <label for="mobile">Moblie</label>
        <input type="text" class="form-control" name="mobile" placeholder="Add your mobile number" value="<%-user.contact.mobile%>">
      </div>
      <div class ="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" name="city" placeholder="Add your city" value="<%-user.contact.city%>">
      </div>
      <div class ="form-group">
        <label for="street">Street</label>
        <input type="text" class="form-control" name="street" placeholder="Add street name and number" value="<%-user.contact.street%>">
      </div>
      <div class ="form-group">
        <label for="zip">Zip code</label>
        <input type="text"  class="form-control" name="zip" placeholder="Add zip code" value="<%-user.contact.zip%>">
      </div>
        <div class ="form-group">
        <label for="country">Country</label>
        <input type="text"  class="form-control" name="country" placeholder="Add country" value="<%-user.contact.country%>">
      </div>
        <button class="btn btn-info btn-round">Add contact details</button>
    </form>
  </div>
</div><%- contentFor('scripts') %>
<script>
  $(document).ready(function() {
        var date = moment();
        $('#start').format('YYYY MMMM DD');
});
         
</script>
