<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> -Name of the app- </h1>
    <p> Welcome to the community for professional help </p>
    <%
    if ( typeof(locals.isAuthenticated) != "undefined" && locals.isAuthenticated) { console.log(locals.user);%>
    <p> You are logged as <%-locals.user.username%> <%-locals.user.role%></p>
    <button type="button" name="Sign up" onclick='window.location.href="/profiles/<%-locals.user.role%>"'> Go to your profile</button>
    <%}%>
    <button type="button" name="Sign up" onclick='window.location.href="/signup/family"'> Sign up as family</button>
    <button type="button" name="Sign up" onclick='window.location.href="/signup/professional"'> Sign up as professional </button>
    <button type="button" name="Log in" onclick='window.location.href="/login"'> Log in </button>
    <h2> Search for a professional in your area </h2>
    <form id="geocode">
      <input id="address" type="" name="address" placeholder="Type your direction">
      <input type="submit" name="">
  </body>
</html>
<%- contentFor('scripts') %>
<script></script>